{% extends 'student_crud/base.html' %}

{% block content %}
    <div class="post">
        {% if student.published_date %}
            <div class="date">
                {{ student.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'student_publish' pk=student.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'student_edit' pk=student.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'student_remove' pk=student.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}
        <h1>{{ student.title }}</h1>
        <p>{{ student.text|linebreaksbr }}</p>
    </div>
{% endblock %}
